{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>Achievements</h2>
    </div>
    <div class='subjectcontent'>
        <div class="achievements">
        {% for a in achievements %}
            <div class="achievement {{ a.complete }}">
                <div id="{{ a.id }}" class="impText">{{ a.text }}</div>
                {% if a.complete == "complete" %}
                    <img alt="star" class="inputimg" src="../public/images/star.png"/>
                    <div class="impPrice">Reward: {{ a.reward }}</div>
                {% else %}
                   <img alt="lock" class="inputimg" src="../public/images/star2.png"/>
                    <div class="impPrice">Reward: ?</div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
