{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>Actual tasks</h2>
    </div>
    <div class='subjectcontent sec'>
        {% for h in homeworks %}
        <div class="actualTask">
            <div class="taskDate">{{ h.date }}</div>
            <div class="taskSubject">{{ h.subject }}</div>
            <div class="taskName">Important task</div>
            <div class="taskText">{{ h.text }}</div>
        </div>
        {% endfor %}
        <div>Past</div>
        {% for ph in pastHomeworks %}
        <div class="actualTask">
            <div class="taskDate">{{ ph.date }}</div>
            <div class="taskSubject">{{ ph.subject }}</div>
            <div class="taskName">Important task</div>
            <div class="taskText">{{ ph.text }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}