<!DOCTYPE html>
<html>
    <head>
        <link href="/public/css/css.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/public/css/profile.css" rel="stylesheet" type="text/css" media="all" />
        <script src="/public/js/jquery-1.7.1.min.js"></script>
        <script src="/public/js/script.js"></script>
        <link href="/public/images/favicon.ico" rel="shortcut icon" />
        <meta charset="UTF-8">
        <title>Follow Tasks</title>
    </head>
    <body>
        <div id="content">
            <a href="/admin/logout"><div id="adminLogout">Logout</div></a>
            
            <form class="form2 admin" method="post" action="admin/addClass">
                <h2>Add class</h2>
                {% for m in messages %}
                    {% if m.type == "adminClass" %}
                        <h3>{{ m.text }}</h3>
                    {% endif %}
                {% endfor %}
                <input type="text" class="input1 input" placeholder="Class name" name="class" />
                <input class="changeButton" type="submit" value="Add"/>
            </form>
            <form class="form2 admin" method="post" action="admin/addAchievementsType">
                <h2>Add achievement type</h2>
                {% for m in messages %}
                    {% if m.type == "adminType" %}
                        <h3>{{ m.text }}</h3>
                    {% endif %}
                {% endfor %}
                <input type="text" class="input1 input" placeholder="Achievement type" name="type" />
                <input class="changeButton" type="submit" value="Add"/>
            </form>
            <form class="form2 admin" method="post" action="admin/addAchievement">
                <h2>Add achievement</h2>
                {% for m in messages %}
                    {% if m.type == "adminAchievement" %}
                        <h3>{{ m.text }}</h3>
                    {% endif %}
                {% endfor %}
                <input type="number" class="input1 input numberImput" placeholder="Reward" name="reward" />
                <input type="number" class="input1 input numberImput" placeholder="Value" name="value" />
                <select class="input1 select adminSelect" name="type">
                    {% for t in types %}
                        <option value="{{ t.id }}">{{ t.type }}</option>
                    {% endfor %}
                </select>
                <textarea id="impText" class="input1 input" placeholder="Text" name="text" ></textarea>
                <input id="addImprovement" class="changeButton" type="submit" value="Add"/>
            </form>
        </div>
    </body>
</html>
