{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>Error 404</h2>
    </div>
    <div class='subjectcontent'>
        The page you requested could not be found, please check the URL address.
    </div>
</div>
{% endblock %}