{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>Tasks</h2>
    </div>
    <div class='subjectcontent sec'>
        <div id="sort">
        Show: <a id="actual" class="showHw">Actual homeworks</a> / <a id="all" class="showHw">All homeworks</a> 
        </div>
        <div id='actualHw'>
            {% for h in homeworks %}
                <div class="actualTask">
                    <div class="taskDate">{{ h.date }}</div>
                    <div class="taskSubject">{{ h.subject }}</div>
                    <div class="taskName">{{ h.name }}</div>
                    <div class="taskText">{{ h.text }}</div>
                </div>
            {% else %}
                <div>You do not have any tasks yet.</div>
            {% endfor %}
            {% if pastHomeworks|length > 0 %}
                <div>Past</div>
            {% endif %}
            {% for ph in pastHomeworks %}
                <div class="actualTask">
                    <div class="taskDate">{{ ph.date }}</div>
                    <div class="taskSubject">{{ ph.subject }}</div>
                    <div class="taskName">{{ ph.name }}</div>
                    <div class="taskText">{{ ph.text }}</div>
                </div>
            {% endfor %}
        </div>
        
        <div id='allHw'>
            {% for s in subjects %}
            <div class="subinfo">
                <a href="subjects/sections/{{s.id}}" >
                    <div class="subname">{{ s.name }}</div>
                    <div class="subprec">
                        <div class="subprec_text">{{ s.precents }}%</div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    
</div>
{% endblock %}