{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>Improvements</h2>
    </div>
    <div class='subjectcontent'>
        <div class="improvements">
        {% for i in improvements %}
            <div class="improvement">
                <div class="impText impText2">{{ i.subject_name }}</div>
                <div class="impText">{{ i.text }}</div>
                <img alt="improvement" class="inputimg" src="../public/images/imp.png"/>
                <input id="{{ i.id }}" class="{{ i.obtained }}" type="button" 
                       value="{% if i.obtained == "addImp" %} {{ i.price }} {% else %} Bought {% endif %}"
                       {% if coins < i.price and i.obtained!="bought" %} disabled {% endif %}/>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
