<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>FollowTasks</title>
        <script type="text/javascript" src="public/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="public/js/script.js"></script>
        <link href="public/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/public/images/favicon.ico" rel="shortcut icon" />
    </head>
    <body>
        <div id="changeLanguage">
            Change language
            <div id="languages">
                <div id="eng" class="language">English</div>
                <div id="cz" class="language">Czech</div>
            </div>
        </div>
        <div id="container">
            <div id="navigation">
                <div class="navigation nav-active" id="nav-log">
                    <div class="center">Login</div>
                </div>
                <div class="navigation" id="nav-reg">
                    <div class="center">Register</div>
                </div>
            </div>
            <div class="insidelogin">
                <div id="login">
                    <div class="title center">
                        <p>You already have an account! Login here</p>
                        <p><a href="index/forget" id="forgot">Forgot your password?</a></p>
                    </div>
                    <div id="ajax_message" class="error_message center"></div>
                    {% for m in messages %}
                        {% if m.type == "login" %}
                            <div class="error_message center">{{ m.text }}</div>
                        {% endif %}
                    {% endfor %}
                    <div class="divinput">
                        <form id="logform2" method="post" action="index/doLogin">
                            <div class="ul">
                                <div class="liinsideul">
                                    <div class="inputtext"><div><img alt="email" src="public/images/email.png"/></div></div>
                                    <div  class="inputdiv"><input id="logmail2" type="email" placeholder="Email" name="email"/></div>
                                </div>
                            </div>
                            <div class="li2 ul">
                                <div class="liinsideul">
                                    <div class="inputtext"><div class="center"><img alt="password" src="public/images/password.png"/></div></div>
                                    <div  class="inputdiv"><input id="logpass" type="password" placeholder="Password" name="pass"/></div>
                                </div>
                            </div>

                            <div class="button">
                                <input id="logButton" type="submit" value="LOGIN" name="submit"/>

                            </div>
                        </form>
                    </div>
                </div>
                <div id="forgotten">
                    <div class="title center">
                        <p>Restore your password here!</p>
                        <p><a href="" id="remember">Or login here</a></p>
                    </div>
                    <div class="divinput">
                        <form id="logform" method="post" action="index/forgottenPass">
                            <div class="ul">
                                <div class="liinsideul">
                                    <div class="inputtext"><div><img alt="email" src="public/images/email.png"/></div></div>
                                    <div  class="inputdiv"><input id="logmail" type="email" placeholder="Email" name="email"/></div>
                                </div>
                            </div>
                            <div class="button">
                                <input id="forgetButton" type="submit" value="SEND MAIL" name="submit"/>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="insidereg">
                <div class="title center">
                    <p>You don't have an account! Register here</p>
                </div>
                <div id="error_script" class="error_message center"></div>
                {% for m in messages %}
                    {% if m.type == "register" %}
                        <div class="error_message center">{{ m.text }}</div>
                    {% endif %}
                {% endfor %}
                <div class="divinput">
                    <form id="regform" method="post" action="index/doRegistration">
                        <img alt="error" id="name_error" src="public/images/name_error.png" class="error_img"/>
                        <div class="ul">
                            <div class="liinsideul">
                                <div class="inputtext"></div>
                                <div  class="inputdiv"><input id="name" type="text" placeholder="Name" name="name"/></div>
                            </div>
                        </div>
                        <img alt="error" id="surname_error" src="public/images/surname_error.png" class="error_img"/>
                        <div class="li ul">
                            <div class="liinsideul">
                                <div class="inputtext"></div>
                                <div  class="inputdiv"><input id="surname" type="text" placeholder="Surname" name="surname"/></div>
                            </div>
                        </div>
                        <div id="mail_error" class="error_message center"></div>
                        <img alt="error" id="email_valid_error" src="public/images/email_valid_error.png" class="error_img"/>
                        <img alt="error" id="email_error" src="public/images/email_error.png" class="error_img"/>
                        <div class="li ul">
                            <div class="liinsideul">
                                <div class="inputtext"><div><img alt="email" src="public/images/email.png"/></div></div>
                                <div  class="inputdiv"><input id="new_email" type="email" placeholder="Email" name="new_email"/></div>
                            </div>
                        </div>
                        <div id="pass_error" class="error_message center"></div>
                        <img alt="error" id="password_error" src="public/images/pass_error.png" class="error_img"/>
                        <div class="li ul">
                            <div class="liinsideul">
                                <div class="inputtext"><div class="center"><img alt="password" src="public/images/password.png"/></div></div>
                                <div  class="inputdiv"><input id="pass" type="password" placeholder="Password" name="pass"/></div>
                            </div>
                        </div>
                        <div id="pass_again_error" class="error_message center"></div>
                        <img alt="pass" id="password_again_error" src="public/images/pass_again_error.png" class="error_img"/>
                        <div class="li ul">
                            <div class="liinsideul">
                                <div class="inputtext"><div class="center"><img alt="pass" src="public/images/password.png"/></div></div>
                                <div  class="inputdiv"><input id="pass_again" type="password" placeholder="Repeat Password" name="pass_again"/></div>
                            </div>
                        </div>
                        <div class="li ul">
                            <div class="liinsideul">
                                <div class="inputtext"><div class="center"></div></div>
                                <select id="userType" name="user_type">
                                    <option value="0">Student</option>
                                    <option value="1">Teacher</option>
                                </select>
                            </div>
                        </div>
                        <div id="classType" class="li ul">
                            <div class="liinsideul">
                                <div class="inputtext"><div class="center"></div></div>
                                <select id="class" name="class" class="">
                                    <option value="0">Choose</option>
                                        {% for c in classes %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="button">
                            <!--<input type="button" value="Register" name="register" onclick="validateForm()"/>-->
                            <input type="submit" value="Register" name="register" onclick="validateForm()"/>
                            <!--<a href="#reg"><input type="button" value="Register" name="register" onclick="validateForm()"/></a>-->
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </body>
</html>
