<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="/public/css/css.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/public/css/profile.css" rel="stylesheet" type="text/css" media="all" />
        <script src="/public/js/jquery-1.7.1.min.js"></script>
        <script src="/public/js/script.js"></script> 
        <!--<link href="/public/css/multiselect.css" rel="stylesheet" type="text/css" media="all" />
        <script src="/public/js/multiselect.js"></script>
        <link href="/public/images/favicon.ico" rel="shortcut icon" />-->
        <title>Follow Tasks</title>
    </head>
    <body>
        <!--<div id="show-menu">Menu</div>-->
        <div id="menu">
            <div class="content-menu">
                <a href="/profile"><div class="item">My profile</div></a>
                <!--<div class="item"><h1><a href="register.html">Homeworks</a></h1></div>!-->
                <a href="/subjects"><div class="item">Tasks</div></a>
                <a href="/improvements"><div class="item">Improvements</div></a>
                <a href="/achievements"><div class="item">Achievements</div></a>
                <a href="/ranking"><div class="item">Ranking</div></a>
                <div id="bottom-part">
                <a href="/profile/settings"><div class="item" id="settings">Settings</div></a>
                <a href="/profile/logout"><div class="item" id="logout">Logout</div></a>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="changeLanguage">
                Change language
                <div id="languages">
                    <div id="cz" class="language">Czech</div>
                    
                    <div id="eng" class="language">English</div>
                </div>
            </div>
            {% block part %}
                
            {% endblock %}
        </div>
    </body>
</html>
