{# Twig #}
{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>My profile</h2>
    </div>
    <div id="profile">
        <div id="userLevel">{{ user.level }}</div>
        <div id="name" class="nameTitle">{{ user.name }}</div>

        <p id="text">Homeworks to next level:</p>
        <div id="status_bar">
            <div id="red_status" style="width: {{ precents }}"></div>
            <div id="nextLvl">{{ user.homeworks_to_next_level }}</div>
        </div>
        <div id="status">
            <p>Complete: </p>
            <div class="info">{{ user.hwComCount }}</div>
            <br/><br/>  
            <p>Incomplete:</p>
            <div class="info">{{ user.hwIncomCount }}</div>
            <br/><br/>
            <p>Coins:</p>
            <div class="info">{{ user.coins }}</div>
        </div>
    </div>

</div>
{% endblock %}

