{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>Ranking</h2>
    </div>
    <div class='subjectcontent'>
        <div id="sort">
        Sort by: <a id="homeworks" class="sort_by">homeworks</a> / <a id="level" class="sort_by">level</a> 
        </div>
        <div id="rank-table">
            <div id="ranking_header" class="section">
                <div id="rankTitle" class="section_name">Rank</div>
                <div class="section_name">Name</div>
                <div class="section_count">{{ valueType }}</div>
            </div>
            {% for r in ranks %}
                <div class="section" >
                    <div class="section_name rank">{{ loop.index }}</div>
                    <div class="section_name">{{ r.name }}</div>
                    <div class="section_count">{{ r.value }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}