<div id="ranking_header" class="section">
    <div id="rankTitle" class="section_name">Rank</div>
    <div class="section_name">Name</div>
    <div class="section_count">{{ valueType }}</div>
</div>
{% set num = 0 %}
{% for r in ranks %}
    {% set num = num + 1 %}
    <div class="section" >
        <div class="section_name rank">{{ num }}</div>
        <div class="section_name">{{ r.name }}</div>
        <div class="section_count">{{ r.value }}</div>
    </div>
{% endfor %}