{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>Sections</h2>
    </div>
    <div class='subjectcontent'>
        <div>
            {% for s in sections %}
                <div id="{{ s.id }}" class="section sec">
                    <div class="clickable_section">
                        <div class="section_name">{{ s.name }}</div>
                        <div class="section_count">{{ s.hw_complete ~ "/" ~ s.hw_count }}</div>
                    </div>
                    <div class="homeworks">
                        {% for h in s.homeworks %}
                            <div class="homework">
                                <div class="hw_task">
                                    {{ h.text }}
                                    <br/><h4>Reward: {{ h.reward }}</h4>
                                </div>
                                <div class="hw_status">
                                    {{ h.status }}<br/>
                                    {% if h.mark %}
                                        Mark: {{ h.mark }}%
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="homework">
                                <div class="hw_task">
                                    No homeworks in this section.
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}