{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>Settings</h2>
    </div>
    <div class='subjectcontent'>
        <form class="form2" method="post" action="../profile/changePassword">
            <h2>Change password</h2>
            {% for m in messages %}
                <h3>{{ m.text }}</h3>
            {% endfor %}
            <div class="input1">
                <img alt="password" class="inputimg2" src="../public/images/password.png"/>
                <input type="password" class="input" placeholder="Old password" name="oldPass"/>
            </div>
            <div class="input1">
                <img alt="password" class="inputimg2" src="../public/images/password.png"/>
                <input type="password" class="input" placeholder="New password" name="newPass" />
            </div>
            <div class="input1">
                <img alt="password" class="inputimg2" src="../public/images/password.png"/>
                <input type="password" class="input" placeholder="New password again" name="newPassAgain" />
            </div>
            <input class="changeButton" type="submit" value="Change"/>
        </form>
    </div>
</div>
{% endblock %}