{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>Subjects</h2>
    </div>
    <div class='subjectcontent sec'>
        {% for s in subjects %}
            <div class="subinfo">
                <a href="subjects/sections/{{s.id}}" >
                    <div class="subname">{{ s.name }}</div>
                    <div class="subprec">
                        <div class="subprec_text">{{ s.precents }}%</div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}