{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>Tasks</h2>
    </div>
    <div class='subjectcontent sec'>
        <form class="form2" method="post" action="../../subjects/addHomework">
            <h2>Add homework</h2>
            {% for m in messages %}
                <h3>{{ m.text }}</h3>
            {% endfor %}
                <input id="hwName" type="text" class="input1 input" placeholder="Name" name="name" />
            <input id="hwPrice" type="number" class="input1 input numberImput" placeholder="Reward" name="reward" />
            <textarea id="hwText" class="input1 input" placeholder="Text" name="text" ></textarea>
            <input type="hidden" value="{{ section_id }}" name="section_id"/>
            <input id="addImprovement" class="changeButton" type="submit" value="Add"/>
        </form>
        {% for h in homeworks %}
        <div class="actualTask">
            <div class="taskDate">{{ h.date }}</div>
            <div class="taskSubject">{{ h.subject }}</div>
            <div class="taskName">{{ h.name }}</div>
            <div class="taskText">{{ h.text }}</div>
            <div class="deleteHomework"><a href="../../subjects/deleteHomework/{{ h.id }}/{{ section_id }}">Delete homework</a></div>
            <!--<div>Homeworks waiting for mark: {{ h.needMark }}</div>
            <a href="subjects/homeworkDetail">Click for detail</a>-->
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}