<select class="input1 select" placeholder="Subject" name="section">
    <option value="0">Choose section</option>
    {% for s in sections %}
        <option value="{{ s.id }}">{{ s.name }}</option>
    {% endfor %}
</select>