{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>Profile</h2>
    </div>
    <div class='subjectcontent'>
        <div id="teacherProfile">
            <div id="teacherName">{{ user.name }}</div>
            <div id="teacherImp" class="teacherProf">Added improvements: {{ user.addedImprovements }} </div>
            <div id="teacherHw" class="teacherProf">Added homeworks: {{ user.addedHomeworks }} </div>
            <div id="teacherMark" class="teacherProf">Homeworks waiting for mark: {{ user.toCorrect }}</div>
        </div>
    </div>
</div>
{% endblock %}