<select  id="userType" class="input1 select" name="user_type" placeholder="Subject">
    {% for s in students %}
        <option value="{{ s.id }}">{{ s.name }}</option>
        <!--<option value="{{ s.0 }}">{{ s.1 }}</option>-->
    {% endfor %}
</select>