<select class="input1 select" placeholder="Subject" name="homework">
    <option value="0">Choose homework</option>
    {% for h in homeworks %}
        <option value="{{ h.id }}">{{ h.name }}</option>
    {% endfor %}
</select>