{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>Improvements</h2>
    </div>
    <div class='subjectcontent'>
        <form class="form2" method="post" action="improvements/addImprovement">
            <h2>Add improvement</h2>
            {% for m in messages %}
                <h3>{{ m.text }}</h3>
            {% endfor %}
            <select id="userType" class="input1 select" name="subject_id">
                {% for s in subjects %}
                    <option value="{{ s.id }}">{{ s.name }}</option>
                {% endfor %}
            </select>
            <input id="impPrice" type="number" class="input1 input numberImput" min="0" max="1000" placeholder="Price" name="price" />
            <textarea id="impText" class="input1 input" placeholder="Text" name="text" ></textarea>
            <input id="impId" type="hidden" value="1" name="id"/>
            <input id="addImprovement" class="changeButton" type="submit" value="Add"/>
        </form>
        <div class="improvements"></div>
        <div id="improvements">
        {% for i in improvements %}
            <div class="improvement {{ i.id }}">
                <div class="subName impText2">{{ i.subject_name }}</div>
                <div class="impText">{{ i.text }}</div>
                <img alt="impIcon" class="inputimg" src="../public/images/imp.png"/>
                <div class="impPrice">Price: {{ i.price }}</div>
                <div class="impEdit {{ i.subject_id }}">
                    <a class="impRewrite" href="improvements/editImprovement">Edit</a>
                    <a id="{{ i.id }}" class="impDelete" href="improvements/removeImprovement/{{ i.id }}">Delete</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
