{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>Tasks</h2>
    </div>
    <div class='subjectcontent sec'>
        {% for h in homeworks %}
            <div class="actualTask {{ h.id }}">
                <div class="taskDate">{{ h.date }}</div>
                <div class="taskSubject">{{ h.subject }}</div>
                <div class="studentName">{{ h.student_name }}</div>
                <div class="taskName">{{ h.name }}</div>
                <div class="taskText">{{ h.text }}</div>
                <div class="taskMark">Mark: {{ h.mark }}</div>
                <form method="post" action="../../subjects/setStudentMark">
                    <input class="hwMark" type="number" min="0" max="100" placeholder="Set mark" name="mark"/>
                    <div class="maxVal">/ 100</div>
                    <input class="sid" type="hidden" value="{{ h.student_id }}" name="student_id"/>
                    <input type="hidden" value="{{ h.id }}" name="homework_id"/>
                    <input class="setMark" type="submit" value="Set mark"/>
                </form>
                
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}