<select id="classStudents" class="input1 select subStudents" name="students[]" multiple="multiple">
    {% for s in students %}
        <option value="{{ s.id }}">{{ s.name }}</option>
    {% endfor %}
</select>