{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>Tasks</h2>
    </div>
    <div class='subjectcontent sec'>
        <div id="sort">
        Show: <a id="actual" class="showHw">Actual homeworks</a> / <a id="all" class="showHw">All homeworks</a> 
        </div>
        <div id='actualHw'>
            <form class="form2" method="post" action="../../subjects/addActualHomework">
                <h2>Add homework</h2>
                {% for m in messages %}
                    {% if m.type == "actual" %}
                        <h3>{{ m.text }}</h3>
                    {% endif %}
                {% endfor %}
                <select id="subjectSelect" class="input1 select" name="subject">
                    <option value="0">Select subject</option>
                    {% for s in subjects %}
                            <option value="{{ s.id }}">{{ s.name }}</option>
                    {% endfor %}
                </select>
                <div id="sectionSelect"></div>
                <div id="homeworkSelect"></div>
                <!--<select id="hwClass" class="input1 select" placeholder="Class" name="class">
                    <option value="0">Select class</option>
                    {% for c in classes %}
                        <option value="{{ c.id }}">{{ c.name }}</option>
                    {% endfor %}
                </select>-->
                <input id="hwDate" type="date" class="input1 input" name="date" />
                <!--<input id="c1" name="cc"  type="checkbox" name="vehicle" value="all"><label for="c1"><span></span>All students</label><br/>
                -->
                <input type="checkbox" class="css-checkbox allStudents" name="checkbox1_lbl" id="checkbox4" checked="checked"/>
		<label for="checkbox4" class="css-label lite-gray-check">ALL STUDENTS</label><br/>
                <select id="classStudents" class="input1 select subStudents" name="students[]" multiple="multiple">
                    {% for s in students %}
                        <option value="{{ s.id }}">{{ s.name }}</option>
                    {% endfor %}
                </select>
                <input id="addImprovement" class="changeButton" type="submit" value="Add"/>
            </form>
            {% for h in homeworks %}
                <div class="actualTask">
                    <div class="taskDate">{{ h.date }}</div>
                    <div class="taskSubject">{{ h.subject }}</div>
                    <div class="taskName">{{ h.name }}</div>
                    <div class="taskText">{{ h.text }}</div>
                    <div>Homeworks waiting for mark: {{ h.needMark }}</div>
                    <!--<div class="deleteHomework"><a href="subjects/deleteActualHomework/{{ h.id }}">Delete homework</a></div>-->
                    <div class="deleteHomework"><a href="subjects/deleteActualHomework/{{ h.id }}"><img alt="cancel" class="cancelImg" src="../public/images/cancel2.png"/></a></div>
                    <a href="subjects/homeworkDetail/{{ h.id }}">Click for detail</a>
                </div>
            {% endfor %}
        </div>
        <div id='allHw'>
            <form class="form2" method="post" action="subjects/addSubject">
                <h2>Add subject</h2>
                {% for m in messages %}
                    <h3>{{ m.text }}</h3>
                {% endfor %}
                <input id="subText" type="text" class="input1 input" placeholder="Name" name="name" />
                <select id="hwClass" class="input1 select" name="class">
                    <option value="0">Select class</option>
                    {% for c in allClasses %}
                        <option value="{{ c.id }}">{{ c.name }}</option>
                    {% endfor %}
                </select>
                <!--<input id="addImprovement" class="changeButton" type="submit" value="Add"/>-->
                <input class="changeButton" type="submit" value="Add"/>
            </form>
            {% for s in subjects %}
                <div id="{{ s.id }}" class="section sec teacherSub">
                    <div class="secClass">{{ s.class }}</div>
                    <a class="section_name" href="subjects/sections/{{s.id}}">{{ s.name }}</a>
                    <div class="section_count">
                        <a href="subjects/editSubject/{{ s.id }}" class="editSubject">Edit</a> /  
                        <a href="subjects/deleteSubject/{{ s.id }}" class="deleteSubject">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <!--{% for s in subjects %}
            <div class="subinfo">
                <a href="subjects/sections/{{s.id}}" >
                    <div class="subname">{{ s.name }}</div>
                </a>
            </div>
        {% endfor %}-->
    </div>
</div>
{% endblock %}