{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>Tasks</h2>
    </div>
    <div id="{{ subject_id }}" class='subjectcontent sec'>
        <form class="form2" method="post" action="../../subjects/addSection/{{ subject_id }}">
            <h2>Add section</h2>
            {% for m in messages %}
                <h3>{{ m.text }}</h3>
            {% endfor %}
            <input id="subText" type="text" class="input1 input" placeholder="Name" name="name" />
            <input id="addImprovement" class="changeButton" type="submit" value="Add"/>
        </form>
        {% for s in sections %}
            <div id="{{ s.id }}" class="section sec teacherSub">
                <a class="section_name" href="../homeworks/{{s.id}}">{{ s.name }}</a>
                <div class="section_count">
                    <a class="editSection" href="subjects/editSection/{{ s.id }}">Edit</a> / 
                    <a class="deleteSection" href="subjects/deleteSection/{{ s.id }}">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}