{% extends "main_view.twig" %}
{% block part %}
<div class="part">
    <div class="title">
        <h2>Achievements</h2>
    </div>
    <div class='subjectcontent'>
        <form class="form2" method="post" action="../achievements/addAchievement">
            <h2>Add achievement</h2>
            {% for m in messages %}
                <h3>{{ m.text }}</h3>
            {% endfor %}
            <select  id="userType" class="input1 select" name="class">
                {% for c in classes %}
                    <option value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
            </select>
            <select id="classStudents" class="input1 select" name="students[]" multiple="multiple">
                {% for s in students %}
                    <option value="{{ s.id }}">{{ s.name }}</option>
                {% endfor %}
            </select>
            <input id="achPrice" type="number" class="input1 input numberImput" min="0" max="1000" placeholder="Reward" name="reward"/>
            <textarea class="input1 input" placeholder="Text" name="text"></textarea>
            <input class="changeButton" type="submit" value="Add"/>
        </form>
        <div class="achievements"></div>
        <div id="improvements">
        {% for a in achievements %}
            <div class="improvement {{ a.id }}">
                <div class="achDelete"><a id="{{ a.id }}" href="achievements/deleteAchievement/{{ a.id }}"><img alt="cancel" class="cancelImg" src="../public/images/cancel.png"/></a></div>
                <div class="achText achStudent">{{ a.studentName }}</div>
                <div class="achText">{{ a.text }}</div>
                <img alt="achievementIcon" class="inputimg" src="../public/images/star.png"/>
                <div class="achPrice">Reward: {{ a.reward }}</div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
