body
{
    background-color: #5C5C5C;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
#menu{
    position: relative;
    height: 101%;
    //width: 250px;
    width: 18%;
    background-color: #3c4043;
    top: 0px;
    left: 0px;
    position: fixed;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    //font-size: 17px;
    font-size: 1vw;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 100;
    float: left;
    //background-image: -webkit-linear-gradient(left, #3C4043 0%, #5C5C5C 100%);
}
#content{
    float: right;
    //background-color: orange; 
    height: 100%; 
    width: 100%;
    //width: 82%; margin-left: 18%
}
/*
@media (min-width: 2500px){
    #menu { width: 20%; }
    #menu .item{  }
}*/
a{
    text-decoration: none;
    color: white;
}
#menu .item{
    width: 100%;
    text-align: center;
    //margin-bottom: -2px;
    border-bottom: 2px solid #FF5F5E;
    border-spacing: 0;
    padding-bottom: 10%;
    padding-top: 10%;
    //padding: 25px;
}
#menu .item:hover{
    background-color: #FF5F5E;
}
/*@media (max-width: 900px){
    #menu .item {border-bottom: 0.5px #FF5E5E solid}
    #settings{border-top: 0.5px #FF5E5E solid}
}*/
.content-menu{
    width: 100%;
    height: 250px;
    right: 0px;
    left: 0px;
    padding: 200px auto auto auto;
}
#logout{
    border-bottom: none;
    /*position: absolute;
    bottom: 0;
    border-top: 2px solid #FF5F5E;*/
    
}
#settings{
    //position: absolute;
    //float: bottom;
    //bottom: 72px;
    //bottom: 11%;
    //float: bottom;
    //bottom: 0;
    //border-top: 2px solid #FF5F5E;
    
}
#menu-item{
    background-color: #FF5F5E;
}
#bottom-part{
    position: absolute;
    bottom: 0;
    border-top: 2px solid #FF5F5E;
    width: 100%;
}
.part{
    width: 82%;
    height: 100%;
    //background-color: red;
    float: right;
    //padding-right: -12%;
    //background-color: blueviolet;
}
#changeLanguage{
    display: none;
    position: fixed;
    right: 0;
    /*background-color: white;
    width: 12%;
    height: 5%;
    color: #FF5F5E*/
    color: white;
    margin-right: 1%;
    margin-top: 1%;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    position: absolute;
    cursor: pointer;
    //top: 0;
}
#languages{
    margin-top: 1%;
    display: none;
    text-align: right;
}