html {
    height: 100%;
}
body{
    height: 100%;
}
#profile{
    width: 552px;
    min-height: 55px;
    height: auto;
    left: 0px;
    right: 0px;
    margin: auto;
    background-image: url("../images/prof3.png");
    background-repeat: no-repeat;
    padding-left: 72px;
}
/*@media (max-width: 500px){
    #profile { width: 50%; }
}*/
.part{
    //position: relative;
    //overflow: hidden;
    //margin-left: 250px;
    
}
.title{
    //font-size: 25px;
    font-size: 1.8vw;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    //width:  350px;
    color: white;
    //margin-bottom: 20px;
    margin-bottom: 2%;
    margin-top: 5%;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    position: relative;
}
.nameTitle{
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width:  350px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
#userLevel{
    font-size: 44pt;
    margin-left: -42px;
    width: 115px;
    height: 100px;
    padding-top: 32px;
    text-align: center;
    color: #FF5F5E;
    font-family: 'Source Sans Pro', sans-serif;
    
}
.value{
    padding-top: 260px;
}
#name{
    font-size: 50px;
    margin-top: -50px;
    margin-left: 80px;
    min-width: 400px;
    color: white;
}
#status_bar{
    //width: 441px;
    width: 77.9%;
    height: 79px;
    background-image: url("../images/status_bar.png");
    margin-left: 70px;
    padding-top: 3px;
    padding-right: 2%;
    //overflow: hidden;
    
}
#red_status{
    background-color: #FF5F5E;
    margin-top: 20px;
    margin-left: 3px;
    //width: 200px;
    height: 35px;
}
#status{
    width: 450px;
    min-height: 310px;
    padding-left: 70px
}
#nextLvl{
    width: 70px;
    text-align: center;
    float: right;
    color: white;
    font-size: 20pt;
    //margin-top: -30px;
    margin-top: -7%;
    margin-right: -1%;
    //margin-right: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    //background-color: red;
}

#text{
    margin-left: 70px;
}
#profile p{
    color: white;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 14pt;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
.info{
    color: white;
    font-size: 20pt;
    float: right;
    margin-top: -42px;
    margin-right: 35px;
    font-family: 'Source Sans Pro', sans-serif;
   
}
.subjectcontent{
    //width: 800px;
    width: 72%;
    margin: auto;
    text-align: center;
    //width: 72%;
    //min-height: 500px;
    min-height: 100%;
    //height: auto;
    //left: 0px;
    //right: 0px;
    //margin-top: 50px;
    margin-top: 5%;
    //margin-bottom: 200px;
    //margin-bottom: 10%;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    //background-color: blue;
    
    overflow: auto;
    //padding-left: 11%;
    //padding-left: auto;
    //padding-right: auto;
}
.subinfo{
    background-color: #3c4043;
    color: #FF5E5E;
    //width: 224px;
    //height: 282px;
    //width: 26.5%;
    //width: 20%;
    width: 12vw;
    height: 17vw;
    text-align: center;
    float: left;
    margin: 1%;
    cursor: pointer;
    border: 0.3vw #FF5E5E solid;
    //border: 4px #FF5E5E solid;
    position: relative;
    margin-left: 5%;
    font-size: 1.9vw;
    padding-top: 1%;
    word-wrap: break-word;
    
}
/*@media (max-width:900px){
    .subinfo{height: 25%}
}*/
.subprec_text{
    margin-top: 30%;
    
}
.subprec{
    //font-size: 50px;
    font-size: 3vw;
    //margin-top: 88px;
    margin-top: 25%;
    width: 68%;
    height: 50%;
    border-radius: 100%;
    border: 3px #FF5E5E solid;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    bottom: 10%;
    margin-left: 15%;
    position: absolute;
}
/*@media (max-width: 900px){
    .subprec {border: 0.5px #FF5E5E solid}
    .subinfo{border: 0.5px #FF5E5E solid}
    
}*/
.subName{
    //font-size: 35px;
    font-size: 1.7vw;
    //margin-top: 10px;
    margin-top: 2%;
    margin-bottom: 1%;
    color: white;
    width: 100%;
    //background-color: red;
}
.section{
    background-color: #3c4043;
    //min-height: 3vw;
    border: 2px solid #FF5E5E;
    border-bottom: 0;
    //margin-bottom: -2px;
    font-size: 1vw;
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
    width: 100%; 
    overflow: auto;
}

.section:last-of-type{
    border-bottom: 2px solid #FF5E5E;
}
.sec{
    margin: auto;
    width: 76%;
}
.section_name{
    float: left;
    //margin-top: 10px;
    margin-top: 2%;
    margin-left: 2%;
    //margin-left: 10px;
}
#rank-table .section_name,.section_count, .rank{
    //margin-top: 1%;
    margin-bottom: 2%;
    font-size: 1.1vw;
}

.section_count{
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    //margin-top: 10px;
    //margin-right: 10px;
}
.homeworks{
    display: none;
    /*width: 100%;
    margin-top: 7%;
    background-color: #3c4043;
    border-left: 2px solid #FF5E5E;
    border-right: 2px solid #FF5E5E;
    margin-left: -2px;
    cursor: default;*/
}
.clickable_section{
    cursor: pointer;
    width: 100%;
    height: 3vw;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    float: left;
}
.hw_task{
    margin-left: 2%;
    text-align: left;
    //font-size: 17px;
    font-size: 1.2vw;
    width: 60%;
    min-height: 10%;
    margin-bottom: 1%;
    //background-color: red;
    //width: 360px;
    float: left;
}
.hw_status{
    float: right;
    text-align: right;
    margin-right: 2%;
    //font-size: 19px;
    font-size: 1.3vw;
    margin-top: 1%;
    color: #FF5E5E;
    min-height: 10%;
}
.homework{
    margin-bottom: 10%;
    min-height: 10%;
}
.section:last-of-type{
    margin-bottom: 10%;
}
h4{
    margin-top: 10px;
    color: #FF5E5E;
    float: left;
    margin-bottom: 0px;
}
h3{
    color: #FF5E5E;
}
#ranking_header{
    background-color: #FF5E5E;
    //font-size: 13pt;
    font-size: 1.2vw;
    color: #3c4043;
    letter-spacing: 0.11em;
    text-transform: uppercase;
}
#rank-table{
    margin: auto;
    width: 75%; 
}
#sort{
    letter-spacing: 0.15em;
    text-transform: uppercase;
    //font-size: 14pt;
    font-size: 1.3vw;
    //margin-left: 200px;
    text-align: center;
    //margin-bottom: 25px;
    margin-bottom: 3%;
}
#sort a:not([href]){
    color: #FF5E5E;
    cursor: pointer;
    
}
.changeButton{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 90px;
    margin-top: 10px;
    background-color: #FF5F5E;
    border: 0px;
    border-radius: 5px;
    outline: 0px;
    color: #3c4043;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}
.changeButton:hover{
    background-color: #3c4043;
    color: #FF5F5E;
    cursor: pointer;
}
.input{
    //min-width: 190px;
    min-width: 45%;
    min-height: 20px;
    background-color: #3c4043;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    
}
.inputimg{
    position: absolute;
    float: left;
    //margin-right: 10px;
    //margin-top: 3px;
    width: 50%;
    //margin-left: 40px;
    //margin-top: 2%;
    //margin-left: 26%;
    //margin-left: -24%;
    display: block;
    margin-left: 25%;
    //margin: auto;
    bottom: 30%;
    //bottom: 30%;
}

.inputimg2{
    float: left;
    margin-top: 1px;
}

.input1{
    background-color: #3c4043;
    width: 94%;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.select{
    border: 0;
    width: 100%;
    color: #a3a3a3;
    //background-color: blue;
}
textArea{
    resize: vertical;
}
.form2{
    width: 30%;
    //float: left;
    margin: auto;
    //margin-left: 80px;
    text-align: center;
    border: 2px #3c4043 solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5%;
}
.subjectcontent h2{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-size: 15pt;
    font-weight: normal;
    color: white;
}
#rankTitle{
    //margin-right: 10px;
    margin-right: 2%;
}
.rank{
    //margin-right: 35px;
    margin-right: 6%;
    width: 4.7%;
    height: 3.5%;
    //height: 5vw;
    //background-color: red;
    font-weight: bold;
    //font-size: 13pt;
    font-size: 1.1vw;
    //background-color: #FF5E5E;
    //margin-top: 5px;
    margin-top: 1%;
    //padding: 5px 10px 5px 10px;
    //padding: 1% 2% 1% 2%;
    //border-radius: 50px;
    text-align: center;
    padding-top: 1%;
    border-radius: 100%;
    //color: #3c4043;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
::selection{
    background-color: #5C5C5C;
    color: #FF5E5E;
}
#improvements{
    //width: 66%;
    /*width: auto;
    height: 50%;
    background-color: blue;*/
}
.achievements, .improvements{
    margin: auto;
    width: 90%;
    height: 100%;
    overflow: auto;
    //padding-left: 20%;
    //padding-left: 15%;
    /*width: 12%;
    height: 200%;
    float: left;*/
}
.achievement, .improvement{
    //display:inline-block;
    float: left;
    //width: 20%;
    width: 21%;
    //height: 30%;
    height: 15vw;
    //height: 200px;
    border: 2px #3c4043 solid;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2vw;
    margin-right: 1%;
    margin-left: 2%;
    margin-bottom: 3%;
    position: relative;
    padding-top: 1%;
    word-wrap: break-word;
}
.improvement{
    //height: 45%;
    min-height: 20vw;
    //height: 250px;
    //width: 25%;
    width: 28%;
    margin-left: 3%;
    margin-right: 1%;
    display: inline;
}
.improvement:last-of-type{
    //margin: auto;
}
.impText, .achText{
    margin-top: 5%;
    width: 100%;
}
.achStudent{
    margin-top: 11%;
    font-size: 1.7vw;
}
.impText2{
    margin-bottom: 5%;
    width: 100%;
    color: #FF5E5E;
    font-size: 1.5vw;
}
.impPrice, .achPrice{
    position: absolute;
    bottom: 15%;
    width: 100%;
    text-align: center;
    color: white;
}
/*.impDelete{
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
}*/
.achDelete{
    position: relative;
    //position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
}
.impEdit{
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
    color: white;
}
.impEdit a:first-of-type{
    //color: #FF5E5E;
    //text-decoration-line: underline;
}
.impEdit a:last-of-type{
    margin-left: 15%;
    //color: #FF5E5E;
}

.improvement .inputimg{
    position: absolute;
    bottom: 30%;
    //margin-left: -25%;
    //margin-top: 7%;
    width: 50%;
    //display: none;
}
.complete{
    //background-color: #FF5E5E;
    background-color: #3c4043;
    //color: #FF5E5E;
}
.addImp{ 
    //float: bottom;
    width: 90%;
    height: 13%;
    //height: 35px;
    //margin-top: 10%;
    color: #FFFFFF;
    background-color: #FF5E5E;
    outline: 0px;
    font-weight: bold;
    border: 0;
    font-size: 1vw;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    display: block;
    margin-left: 5%;
    //margin-left: -45%;
}
.incomplete{
    background-color: #FF5E5E;
}
.actualTask{
    //margin-left: 75px;
    //width: 600px;
    //min-height: 100px;
    width: 80%;
    min-height: 8%;
    padding: 40px;
    padding-top:  2%;
    //background-color: #a3a3a3;
    background-color: #3c4043;
    border: 2px solid #FF5E5E;
    //color: #3c4043;
    color: #FFFFFF;
    text-align: left;
    //margin-bottom: 4%;
    margin: auto;
    margin-bottom: 4%;
    position: relative;
    //margin-left: 5%;
    /*background-image: linear-gradient(bottom, #a3a3a3 50%, #FF5E5E 50%);
    background-image: -o-linear-gradient(bottom, #a3a3a3 50%, #FF5E5E 50%);
    background-image: -moz-linear-gradient(bottom, #a3a3a3 50%, #FF5E5E 50%);
    background-image: -webkit-linear-gradient(bottom, #a3a3a3 50%, #FF5E5E 50%);
    background-image: -ms-linear-gradient(bottom, #a3a3a3 50%, #FF5E5E 50%);*/
}
.actualTask a{
    color: #FF5E5E;
}

.cancelImg{
    right: 0;
    top: 0;
    position: absolute;
    width: 5%;
}
.achDelete .cancelImg{
    width: 15%;
    margin-top: 2%;
    
}

.taskSubject{
    font-weight: bold;
    font-size: 1.7vw;
}

.taskName{
    margin-top: 10px;
    margin-bottom: 10px;
}

.taskDate{
    float: right;
    font-weight: bold;
    color: #FF5E5E;
    
}

.taskText{
    margin-bottom: 0px;
}

#allHw{
    width: 80%;
    height: 100%;
    margin: auto;
    //background-color: red;
    overflow: auto;
    display: none;
}

.admin{
    margin-top: 5%;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: normal;
    color: white; 
}

#adminLogout{
    float: right;
    background-color: #FF5E5E;
    padding: 1%;
    padding-left: 2%;
    //margin-top: -5%;
    border-bottom-left-radius: 2em;
    width: 5%;
    height: 3%;
    text-align: center;
}

.adminSelect{
    width: 94%;
}
.bought{
    width: 90%;
    height: 13%;
    outline: 0px;
    font-weight: bold;
    border: 0;
    font-size: 1vw;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    margin-left: -45%;
    color: #FF5E5E;
    background-color: #3c4043;
    cursor: auto;
}
.teacherSub{
    cursor: auto;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
input:disabled{
    background-color: #a3a3a3;
    color: #3c4043;
    cursor: auto;
}
#teacherProfile{
    width: 60%;
    height: 40%;
    margin-left: 20%;
    border: 2px solid #FF5E5E;
    background-color: #3c4043;
    padding-bottom: 5%;
    //background-color: #FF5E5E;
}
#teacherName{
    padding-top: 5%;
    font-size: 2.5vw;
}
.teacherProf{
    margin-top: 5%;
    font-size: 1.7vw;
}
.secClass{
    float: left;
    padding-top: 2%;
    width: 8%;
    height: 4%;
    text-align: center;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    input[type="button"]{
        -webkit-appearance: none;
    }
    .section{
        //height: 4%;
    }
    .improvement{
        //height: 35%;
        //background-color: red;
    }
    .achievement{
        //height: 22%;
    }
    .subinfo{
        //height: 33%;
    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    input[type="button"]{
        -webkit-appearance: none;
    }
    .section{
        //height: 2%;
    }
    .improvement{
        //height: 18%;
        //height: 22vw;
        //background-color: red;
    }
    .achievement{
        //height: 13%;
        //height: 15vw;
    }
    .subinfo{
        //height: 18%;
    }
    #menu{
        width: 20%;
    }
    
}

.hwMark{
    width: 10%;
    min-height: 3%;
    border: none;
    outline: none;
    color: #3c4043;
    float: left;
}
.setMark{
    background-color: #FF5F5E;
    border: 0px;
    width: 15%;
    height: 3%;
    margin-top: 1%;
    color: #3c4043;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}
.maxVal{
    margin-top: 1%;
}
input[type=checkbox].css-checkbox {
	  position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}
.lite-gray-check{background-image:url(../images/lite-gray-check.png);}

.subStudents{
    display: none;
}